body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 42px;
  text-transform: capitalize;
}

h2 {
  font-size: 32px;
  padding-bottom: 50px;
}

h3 {
  font-size: 28px;
}

p {
  font-size: 20px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.banner {
  padding-top: 50px;
  padding-bottom: 30px;
}

.mx-10c {
  margin: 0 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 500px;
  margin: 3% auto;
}

.grid-item {
  border: 1px solid #d0d7de;
  text-align: center;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 20px;
  font-size: 18px;
  text-align: right;
  color: #fff;
  background-color: #858694;
}

.zero-btn {
  grid-column-start: 1;
  grid-column-end: 3;
}

.calc-btn {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 18px;
}

.message {
  font-size: 32px;
  margin-left: 10%;
  margin-top: 4%;
}

.bg-light-gray {
  background-color: #e0e0e0;
}

.bg-brown {
  background-color: #f5913e;
}

.text-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.nav-btn {
  margin: 0 10px;
  font-size: 18px;
  background-color: #fff;
  border: none;
}
